body{
    margin: 0;
    padding: 0;
}
ul{
    margin:0;
    padding: 0;
}

/* header başlangıç */
.img{
    background-image: url(img/header-img.jpg);
    width: 100%;
    background-size: cover;
    height: 660px;
    filter: brightness(30%);
}
.headContainer{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 0;
}
.logo{
    font-size: 40px;
    color: white;
}
.navbar{
    display: flex;
    list-style-type: none;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
ul li a:hover{
    color: rgb(206, 195, 195);
    transition: 0.4s;
}
/* header bitiş */


/* content başlangıç */
.contentContainer{
    position: absolute;
    top: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.ajansText{
    width: 700px;
    text-align: center;
}
.ajansText>h2{
    font-size: 35px;
}
.ajansText>p{
    letter-spacing: 0.5px;
}
.btn-outline{
    padding: 0.75rem 2.25rem;
    border: 1px solid white;
    border-radius: 1.5rem ;
    transition: background-color 0.2s;
    cursor: pointer;
}
.btn-outline:hover{
    background-color: white;
    color: #000000;
}
/* content bitiş */


/* section arasi boşluk */
.spaceTop{
    margin-top: 8rem;
}
/* section arasi boşluk */


/* hakkımızda başlangıç */
.hakkimizdaContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}
.hakkimizda{
    width: 350px;
    margin-right: 20px;
}
.baslik{
    font-size: 40px;
}
.hakkimizdaBtn{
    background-color: #01AC74;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #01AC74;
    cursor: pointer;
    width: 7.5rem;
    color: white;
    padding:8px;
}
.hakkimizdaBtn:hover{
    background-color: #027951;
    transition: 0.2s;
}
.hakkimizdaİmg{
    width: 350px;
}
.image{
    width: 350px;
    height: 550px;
}
.uzmanlik{
    width: 350px;
    margin-left: 20px;
}
.bootstrapBar{
    display: flex;
    justify-content: space-between;
}
.bar{
    background-color:rgb(241, 234, 234);
    display: flex;
}
.innerBarBootstrap{
    width: 70%;
    padding: 6px;
    background-color: green;
}
.innerBarJquary{
    width: 80%;
    padding: 6px;
    background-color: green;
}
.innerBar{
    width: 100%;
    padding: 6px;
    background-color:green;
}
/* hakkımızda bitiş */


/* hizmetlerimiz başlangıç */
.hizmetlerimizContainer{
    text-align:center;
    background-color: #F5F5F5;
    padding: 1rem;
    padding-bottom: 4rem;
}
.hr1{
    width: 4rem;
    border:1px solid black;
}
.hr2{
    width: 6rem;
    border:1px solid black;
}
.hizmetler{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 1.5rem;
}
.hizmetler1{
    width:50%;
    display: flex;
}
.hizmetler2{
    width:50%;
    display: flex;
}
.tasarım{
    padding: 1.5rem;
    background-color:white;
}  
.tasarım:hover{
    box-shadow: 0px 0px 8px 6px  rgb(226, 216, 216);
}
.tasarım>p{
    word-spacing: 2px;
    line-height: 1.4rem;
}
/* hizmetlerimiz bitiş */


/* işlerimiz başlangıç */
.islerimizContainer{
    text-align: center;
}
.islerimizBoxs{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.box1{
    display: flex;
    padding-bottom: 1rem;  
}
.islerimizresim{
    width: 33.3%;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}
.islerimizresim:hover{
    filter: brightness(30%);
    border-radius: 0px;
    transition: 0.5s;
}
/* işlerimiz bitiş */


/* şirketAnalizSonuçları başlangıç */
.sirketAnalizSonucContainer{
    width: 100%;
    padding: 3rem 0rem 2rem 0rem;
    display: flex;
    margin-top: 5rem;
    background-color: #F5F5F5;
}
.sirketAnaliz{
    display: flex;
    width: 80%;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
/* şirketAnalizSonuçları bitiş */


/* görüşler başlangıç */
.goruslerContainer{
    width: 100%;
    padding-bottom: 2rem;
}
.goruslerContainer>h2{
    text-align: center;
}   
.cardBox{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.card{
    width: 100%;
}
.cardİmgBox{
    width: 100px;
}
.cardİmg{
    width: 100%;
    border-radius: 50%;
}
.yorumcuName{
    text-align: right;
}
/* görüşler bitiş */


/* blog başlangıç */
.blogContainer{
    background-color: #F5F5F5;
    text-align: center;
}
.blogContainer>h2{
    padding-top: 2rem;
}
.blogBoxs{
    width: 80%;
    padding-bottom: 3rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.blogİmg{
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}
.blog>a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.blog>a:hover{
    color: rgb(127, 201, 127);
    transition-duration: 0.3s;
}
.blog>div{
    color: rgb(156, 156, 156);
    text-align: left;
    margin-top: 1.5rem;
}
.blog>p{
    text-align: left;
}
/* blog bitiş */


/* footer başlangıç */
footer{
    margin-top: 2rem;
}
.footerContainer{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
.footerBox{
    width: 100%;
}
.footerBox>a{
    color: rgb(127, 201, 127);
    text-decoration: none;
    display: block;
    padding-bottom: 0.5rem;
}
.footerBox>a:hover{
    color: black;
    transition: 0.3s;
}
.iconsBox{
    display: flex;
}
.icon{
    width: 3rem;
    text-align: center;
    line-height: 2.5rem;
}
.icon:hover{
    background-color: rgb(248, 229, 229);
    border-radius: 10px 10px 10px 10px;
}
.icon>a{
    color: rgb(127, 201, 127);
}
.footerGizlilik{
    text-align: center;
    font-size: 20px;
}
/* footer bitiş */