body{
    margin: 0;
    padding: 0;
}
ul{
    margin:0;
    padding: 0;
}


/* header başlangıç */
.navbar{
    flex-direction: column;
}
.navbar>li{
    padding-bottom: 1rem;
}
/* header bitiş */


/* content başlangıç */
.ajansText{
    width: 300px;
}
/* content bitiş */


/* hakkımızda başlangıç */
.hakkimizdaContainer{
    display: block;
    text-align: center;
}
.hakkimizdaİmg{
    display:none;
}
.hakkimizda{
    width: 100%;
    text-align: left;
}
/* hakkımızda bitiş */


/* hizmetlerimiz başlangıç */
.hizmetler{
    width:100%;
}
.hizmetler1{
    display: block;
}
.hizmetler2{
    display: block;
}
.tasarım{
    margin-bottom: 1rem;
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
}  
/* hizmetlerimiz bitiş */


/* işlerimiz başlangıç */
.box1{
    display: block;
}

.islerimizresim{
    width: 80%;
    padding-bottom: 1rem;
    margin-right:0!important;
    margin-left: 0!important;
}
/* işlerimiz bitiş */


/* şirketAnalizSonuçları başlangıç */
.sirketAnaliz{
    display: inline;
}
.analiz{
    margin-bottom: 2rem!important;
}
/* şirketAnalizSonuçları bitiş */


/* görüşler başlangıç */
.cardBox{
    flex-direction: column;
}

.card{
    margin-bottom: 2rem;
}
/* görüşler bitiş */


/* blog başlangıç */

.blogBoxs{
    flex-direction: column;
}
/* blog bitiş */


/* footer başlangıç */
.icon{
    margin-left: 0rem!important;
}
/* footer bitiş */