body{
    margin: 0;
    padding: 0;
}

/* Header başlangıç */
.navbar{
    flex-direction: column;
}
.logo{
    text-align: center;
}
ul{
    flex-direction: column;
    text-align: center;
}

/* Header bitiş */

/* section başlangıç */
#hamitEfeBilginİmg{
    width: 170px;
}
/* section bitiş */

/* egitimsection başlangıç */
.kutu{
    flex-direction: column;
}   
/* egitimsection bitiş */

/* yeteneksection başlangıç */
.containerYetenek{
    flex-direction: column;
    width: 200px!important;
    text-align: center;
}
.containerİmg>img{
    width: 70px!important;
    margin-top: 1rem;
}
/* yeteneksection bitiş */


/* iletisimfooter başlangıç */
.input{
    width: 70%!important;
    margin-bottom: 1rem;
}
/* iletisimfooter bitiş */