body{
    margin:0;
    padding: 0;
    background-color:rgb(245, 239, 239)!important;
}

h2{
    text-align: center;
}

.display{
    display: block;
}

.yetenek img{
    width:100px;
}

.form-group{
    width: 100%;
}

.icon{
    font-size: 1.8rem;
}
